{% load staticfiles %}
<!DOCTYPE html>
<html style="width: 100%; height: 100%;">

<head>
  <title>Modelo Vetorial</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</head>

<body>
  <div style="width: 100%; height: 100%; position: fixed;">

    <div style="padding: 15px; width: 100%; height: 25%; background-color: cadetblue; display: flex;">
      <div>
        <form class="form-signin" method="POST">
          {% csrf_token %}
          <label for="inputFile">Upload file</label>
          <input type="file" class="form-control-file" id="inputFile" onchange="handleFiles(event)">
        </form>

        <button onclick="showDocuments()">Dados da coleção</button>
        <button onclick="showIdf()">IDF</button>

        <form class="form-signin" method="POST">
          {% csrf_token %}
          <button onclick="updateAll()">Atualizar dados</button>
        </form>
      </div>
      <div class="form-group" style="padding-left: 20px">
        <div>
          <form class="form-signin" action="{% url 'search' %}" method="POST">
            {% csrf_token %}
            <input type="text" id="text" name="text">
            <input type="submit" value="Search">
            <div class="form-row align-items-center" style="height: 15px; display: block;" <div class="col-auto my-1">
              <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
              <select name="tfType" class="custom-select mr-sm-2" style="height: 15px" id="inlineFormCustomSelect">
                <!-- <option selected>Choose...</option> -->
                <option>DoubleNormalization</option>
                <option>RawFrequency</option>
                <option>LogNormalization</option>
              </select>
            </div>
            <div class="form-row align-items-center" style="padding-top: 20px; height: 15px; display: block;" <div class="col-auto my-1">
              <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
              <select name="idfType" class="custom-select mr-sm-2" style="height: 15px" id="inlineFormCustomSelect">
                <!-- <option selected>Choose...</option> -->
                <option>InverseFrequencySmooth</option>
                <option>InverseFrequency</option>
                <option>InverseFrequencyMax</option>
                <option>InverseFrequencyProbabilistic</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div style="width: 100%; height: 75%; display: inline-flex; align-items: center; position: relative;">
      <div style="width: 30%; height: 100%; display: inline; position: relative;">
        {% block container_left %}{% endblock container_left %}
      </div>
      <div id="div_show" style="width: 70%; height: 100%; display: inline; position: relative; background-color: white; overflow: hidden; overflow-y: scroll;">
        {% block container_right %}{% endblock container_right %}
      </div>
    </div>
  </div>
</body>

</html>