{% load staticfiles %}
<!DOCTYPE html>
<html style="width: 100%; height: 100%;">

<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <meta charset="utf-8">
    <title>Simple File Upload</title>
</head>

<body>
    <div style="width: 100%; height: 100%; position: fixed;">
        <div style="padding: 15px; width: 100%; height: 25%; background-color: cadetblue;">
            <div class="form-group">
                <form class="form-signin" method="POST">
                    {% csrf_token %}
                    <label for="inputFile">Upload file</label>
                    <input type="file" class="form-control-file" id="inputFile" onchange="handleFiles(event)">
                </form>
                <button onclick="showDocuments()">Dados da coleção</button>
                <button onclick="showIdf()">IDF</button>
                <form class="form-signin" method="POST">
                    {% csrf_token %}
                    <button onclick="updateAll()">Atualizar dados</button>
                </form>
            </div>
            <!-- <div style="width: 120px;" class="progress">
                <div id="progress-file" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                    style="width: 0%;"></div>
            </div> -->
        </div>

        <div style="width: 100%; height: 75%; display: inline-flex; align-items: center; position: relative;">
            <div style="width: 30%; height: 100%; display: inline; position: relative;">
                <header style="width: 100%; margin: 10px">Archives</header>
                <nav class="scroll" style="width: 100%; height: 100%;">
                    <ul id="ul-scroll" class="scroll">
                        {% for document in documents %}
                        <li class="row-document" onclick="row_document_click(event)">{{ document.name }}</li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div id="div_show" style="width: 70%; height: 100%; display: inline; position: relative; background-color: white; overflow: hidden; overflow-y: scroll;">
                {% comment %}
                <div style="margin: 10px; ">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Qt. Words</th>
                                <th scope="col">Qt. Stopwords</th>
                                <th scope="col">Qt. Adverbios</th>
                                <th scope="col">Qt. Tokens</th>
                                <th scope="col">Qt. Document</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <td scope="row"> </td>
                                <td> 20 </td>
                                <td> 10 </td>
                                <td> 5 </td>
                                <td> 5 </td>
                                <td> 3 </td>
                            </tr>
                            <tr>
                                <td scope="row">%</td>
                                <td> 50% </td>
                                <td> 25% </td>
                                <td> 100% </td>
                                <td> 25% </td>
                                <td> - </td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="div-document-table" style="margin: 10px; width: 100%; height: 100%;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Qt. Words</th>
                                <th scope="col">Qt. Stopwords</th>
                                <th scope="col">Qt. Adverbios</th>
                                <th scope="col">Qt. Tokens</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <td scope="row">1</td>
                                <td> exe.doc </td>
                                <td> 50% </td>
                                <td> 25% </td>
                                <td> 100% </td>
                                <td> 25% </td>
                            </tr>
                            <!-- {% for token in words %}
                                <tr>
                                    <td scope="row">{{ token.indice }}</td>
                                    <td> {{ token.document }} </td>
                                    <td> {{ token.frequency }} </td>
                                </tr>
                            {% endfor %} -->
                        </thead>
                    </table>
                </div>
                {% endcomment %}
            </div>
        </div>
    </div>
</body>

</html>