{% extends 'my_app/base.html' %} 

{% block container_left %}
    <header style="width: 100%; margin: 10px">Archives</header>
    <nav class="scroll" style="width: 100%; height: 100%;">
        <ul id="ul-scroll" class="scroll">
            {% for document in documents_name %}
            <li class="row-document" onclick="row_document_click(event)">{{ document.name }}</li>
            {% endfor %}
        </ul>
    </nav>
{% endblock container_left %}

{% block container_right %}
    <div id="div_show" style="width: 70%; height: 100%; display: inline; position: relative; background-color: white; overflow: hidden; overflow-y: scroll;">
        <p style="margin: 10px;">Resultados </p>
        {% for doc in list_doc %}
            <p></p>
            <div class="flip">{{ doc.name }}  -  {{ doc.similaridade }}</div>
            <div id={{ doc.name }} class="panel">{{ doc.text }}</div>
        {% endfor %}
    </div>
    <script> 
        $(document).ready(function(){
            $(".flip").click(function(event){
                let nome = event.target.innerText.split(' ')[0]
                console.log("#"+nome)
                let ele = document.getElementById(nome)
                nome = "#"+nome
                $(nome).slideToggle(360);
                // $(".panel").slideToggle("fast");
            });
        });
    </script>
{% endblock container_right %}