body {
    display: flex;
}

header {
    padding-top: 5px;
}

main {
    padding-top: 240px;
}

#main_result {
    padding-top: 30px;
}

.panel, .flip {
    padding: 5px;
    text-align: center;
}

.panel {
    /* padding: 50px; */
    display: none;
}

#panel_conf {
    padding: 10px;
}

.panel_documents, .flip_documents {
    padding: 5px;
    padding-top: 20px;
    text-align: center;
    border-bottom: solid 1px #c3c3c3;
}

.panel_documents {
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
    display: none;
    /* border-bottom: solid 1px #c3c3c3; */
}