{% extends 'base.html' %} {% block main %}

<!-- <main class="row"> -->
<form id="formm" class="row" class="form-signin" action="{% url 'busca' %}" method="POST">
  <div class="col-md-3"></div>
  <div class="col-md-6 search-box">
    <!-- <form class="form-signin" action="{% url 'busca' %}" method="POST"> -->
    <div class="input-group">
      <input type="text" name="text" class="form-control" placeholder="Pesquise Aqui">
      <button class="btn btn-secondary" type="submit">Pesquisar</button>
    </div>
    <!-- </form> -->
  </div>
  <div class="col-md-3"></div>

  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div id="flip_conf" class="flip">Clique aqui para pesquisa avançada</div>
    <div id="panel_conf" class="panel">
      <div class="form-row align-items-center" style="" <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
        <select name="tfType" class="custom-select mr-sm-2" style="height: 30px" id="inlineFormCustomSelect">
          <!-- <option selected>Choose...</option> -->
          <option>DoubleNormalization</option>
          <option>RawFrequency</option>
          <option>LogNormalization</option>
        </select>
      </div>
      <div class="form-row align-items-center" style="padding-top: 20px;" <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
        <select name="idfType" class="custom-select mr-sm-2" style="height: 35px" id="inlineFormCustomSelect">
          <!-- <option selected>Choose...</option> -->
          <option>InverseFrequencySmooth</option>
          <option>InverseFrequency</option>
          <option>InverseFrequencyMax</option>
          <option>InverseFrequencyProbabilistic</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>

  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</form>
<!-- </main> -->

{% endblock main %}