{% extends 'base.html' %} {% block main %}

<!-- <main class="row" id="main_result"> -->
<form id="formm" class="row" class="form-signin" action="{% url 'busca' %}" method="POST">

  <div class="col-md-3"></div>
  <div class="col-md-6 search-box">
    <!-- <form class="form-signin" action="{% url 'busca' %}" method="POST"> -->
    <div class="input-group">
      <input id="inputBusca" type="text" name="text" class="form-control" placeholder="Pesquise Aqui">
      <button class="btn btn-secondary" type="submit">Pesquisar</button>
    </div>
    <!-- </form> -->
  </div>
  <div class="col-md-3"></div>

  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div id="flip_conf" class="flip">Clique aqui para pesquisa avançada</div>
    <div id="panel_conf" class="panel">
      <div class="form-row align-items-center" style="" <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
        <select name="tfType" class="custom-select mr-sm-2" style="height: 30px" id="tfType">
          <!-- <option selected>Choose...</option> -->
          <option>DoubleNormalization</option>
          <option>RawFrequency</option>
          <option>LogNormalization</option>
        </select>
      </div>
      <div class="form-row align-items-center" style="padding-top: 20px;" <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
        <select name="idfType" class="custom-select mr-sm-2" style="height: 35px" id="idfType">
          <!-- <option selected>Choose...</option> -->
          <option>InverseFrequencySmooth</option>
          <option>InverseFrequency</option>
          <option>InverseFrequencyMax</option>
          <option>InverseFrequencyProbabilistic</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>

  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</form>
<!-- </main> -->

<div class="row" style="padding-top: 20px"></div>
{% for doc in list_doc %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="flip_documents">{{ doc.name }} - {{ doc.similaridade }}</div>
    <div id={{ doc.id }} class="panel_documents text-justify">{{ doc.text }}</div>
  </div>
  <div class="col-md-1"></div>
</div>
{% endfor %}

<script>
  $(document).ready(function () {
    $(".flip_documents").click(function (event) {
      let nome = event.target.innerText.split(' ')[0]
      console.log("#" + nome)
      let ele = document.getElementById(nome)
      let name_split = nome.split('.')
      nome = "#" + name_split[0] + "_" + name_split[name_split.length - 1]
      $(nome).slideToggle(360);
      // $(".panel").slideToggle("fast");
    });
  });
</script>
{% endblock main %}